
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }


body{
font-family: 'Raleway', sans-serif;
font-size: 22px black; 
font-weight: 400;
line-height: 26px;
}


#bio-home{
    padding-top: 10px;
}
 
 
header,
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    background-color: #00004d;
    color: white;
    padding: 5px;
    text-align: center;
}

.fa-bars{
    font-size: 45px;
    color: #ffff00;
    padding-right: 10px;
    padding-top: 15px;

}

h2{
    font-style: italic;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

.main-nav {
    list-style-type: none;
    display: block;
    max-width: 160px;
    margin-left: 75%;
    background-color: #390B02;
    font-size: 20px;
    line-height: 40px;
}  

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: right;
    margin-right: 15px;
}

.navbar-toggle,
.js-navbar-toggle
 {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.projdesc{
    font-weight: 600;
}

.projdesc:hover{
    color: white;
    background-color: #00004d;
 }


.active {
    display: block;
} 


.body-text{
    display: flexbox;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    border-width: 2px grey;
}

.contactsection {
    display: block;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 70%;
    max-height: 70%;
    padding-bottom: 15px;

}

img.screenshot {
    display: block;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 48%;
    border: 1px solid black;
    margin-bottom: 13px;
}

.imagetext {
    display: block;
    text-align: center;
}

.contactlinks{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 30px;
    padding-top: 8px;
    padding-bottom:8px;
}

.fab,
.fas{
padding-left: 20px;
padding-right: 20px;
}

.hidden {
  display: none;
}

.fab:hover,
.fas:hover{
    color: white;
    background-color: #00004d;
 }

@media screen and (min-width: 900px){
body{
    font-family: 'Raleway', sans-serif;
    font-size: 26px black; 
    font-weight: 400;
    line-height: 26px;
    margin-right: 10%;
    margin-left:10%;
        }

.hidden {
    display: inline;
}

h2{
    padding-bottom: 15px;
}

.body-text{
    padding-top: 30px;
    padding-bottom:30px;
}

.fa-bars {
    display:none;
}

ul,
#js-menu {
    display: inline;
    list-style-type: none;
    margin: auto;
}


.main-nav{
    display: inline;
    background-color: #00004d;
} 

 .main-nav li{
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff00;
    cursor: pointer;
}

.main-nav li:hover{
    background-color: #4d0000;
}

.screenshotsbank {
    display: flex;
    justify-content: space-around;
    /* align-items: self-start; */
    /* max-width: 60%; */
    padding:10px;
    margin-bottom: 13px;
}

img.screenshot{
    display: block;
    max-width:90%;
    margin-left:10px;
    margin-right:10px;
    border:  1px solid #7a7a52;
}

.contactlinks{
    text-align:center;
    /* margin-left:30%;
    margin-right:30%; */
    font-size: 50px;
    padding-top: 15px;
    padding-right:10px;
    padding-left: 10px;
   
}




}